<sn-form>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <sn-form-control [control]="registerForm.get('fullName')">
      <input
        type="text"
        placeholder="Full Name"
        formControlName="fullName"
        snHighlightParty
      />
    </sn-form-control>
    <sn-form-control [control]="registerForm.get('email')">
      <input
        type="text"
        placeholder="Email"
        formControlName="email"
        snHighlightParty
      />
    </sn-form-control>
    <sn-form-control [control]="registerForm.get('password')">
      <input
        type="text"
        placeholder="Password"
        formControlName="password"
        snHighlightParty
      />
    </sn-form-control>
    <sn-form-control [control]="registerForm.get('confirmPassword')">
      <input
        type="text"
        placeholder="ConfirmPassword"
        formControlName="confirmPassword"
        snHighlightParty
      />
    </sn-form-control>
    <button>
      Register
    </button>
  </form>
</sn-form>
<p>{{ registerForm.value | json }}</p>
